.btn-danger, .btn-primary{
    margin-top: 20px;
    margin-left: 30px;
}
.modal-content{
    margin-top: 200px;
    width: 610px;
    height: 201px;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.hands{
    position: absolute;
    top: 55px;
    left: 30px;
}
.pt{
    position: absolute;
    left: 90px;
    top: 120px;
}
.text{
    position: absolute;
    left: 145px;
    top: 0px;
    text-align: center;
    color: #9d9d9c;
}
.text h3{
    font-weight: bold;
}
.first{
  font-size: 1.2em;   
}

.close_button{
    display: block;
    position: absolute;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background-image: linear-gradient(to top,#d01c45,#d11c47);
    top: 147px;
    left: 265px;
    height: 30px;
    padding: 0 57px; 
    background-size: cover;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    border-radius: 5px;
    border: none;
}
.close_button:hover{
    box-shadow: 3px 4px 2px rgba(0,0,0,0.5);
    top: 149px;
    
}
.top_close{
    position: absolute;
    left: 630px;
    top: -20px;
    width: 35px;
    height: 35px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;   
}
